[submodule "externals/trinity-concurrency"]
	path = externals/trinity-concurrency
	url = https://github.com/Zubnix/trinity-concurrency.git
[submodule "externals/xcb4j"]
	path = externals/xcb4j
	url = https://github.com/Zubnix/xcb4j.git
[submodule "externals/autobind"]
	path = externals/autobind
	url = https://github.com/Zubnix/apache-onami-autobind.git
[submodule "externals/fx-guice"]
	path = externals/fx-guice
	url = https://github.com/cathive/fx-guice.git
[submodule "externals/auto"]
	path = externals/auto
	url = https://github.com/google/auto.git
