[submodule "externals/trinity-concurrency"]
	path = externals/trinity-concurrency
	url = https://github.com/Zubnix/trinity-concurrency.git
[submodule "externals/xcb4j"]
	path = externals/xcb4j
	url = https://github.com/Zubnix/xcb4j.git
