#RootView {
	
}

#ClientsBar {
}

#NotificationsBar {

}

#TopBar {
	/*because of a bug we have to specifiy border-top for our bottom border to be visible.*/
    border-top: none;
    border-bottom: 5px solid #22B5BF;
}

#BottomBar {
	border-top: 5px solid #88C134;
}

#ClientBarItemView {
	border: 1px solid black;
}

#CloseButtonView {
	border: 1px solid red;
}