.desktop {
    -fx-font-smoothing-type: lcd;
    -fx-background-color: grey;
}

.top-bar {
    -fx-border-bottom: 2 solid blue;

//only works in javafx 8
//    -fx-pref-height: 25px;
}

.bottom-bar {
    -fx-border-top: 2 solid green;

//only works in javafx 8
//    -fx-pref-height: 25px;
}

.application-area {

}