.breadcrumb .divider {
    color: #333333;
}

.nav-list > .active > a, .nav-list > .active > a:hover {
    background-color: #CC5500;
}

a {
    color: #006699;
}

body {
        padding-top: 40px;
        padding-bottom: 120px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
}

section {
    padding-top: 52px;
}

.well-fixed {
     position:fixed;
     top:72px;
     width:12%;
 }

@media (max-width: 979px) {
     body {
        padding-top: 5px;
      }
       .well-fixed {
        position: static;
        width: auto;
     }
 }

.docs-sidenav {
    background-color: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    margin: 30px 0 0;
    padding: 0;
    width: auto;
}
.docs-sidenav > li > a {
    border: 1px solid #E5E5E5;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
}
.docs-sidenav > li:first-child > a {
    border-radius: 6px 6px 0 0;
}
.docs-sidenav > li:last-child > a {
    border-radius: 0 0 6px 6px;
}
.docs-sidenav > .active > a {
    border: 0 none;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    padding: 9px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
}
.docs-sidenav .icon-chevron-right {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.25;
}
.docs-sidenav > li > a:hover {
    background-color: #F5F5F5;
}
.docs-sidenav a:hover .icon-chevron-right {
    opacity: 0.5;
}
.docs-sidenav .active .icon-chevron-right, .bs-docs-sidenav .active a:hover .icon-chevron-right {
    background-image: url("../img/glyphicons-halflings-white.png");
    opacity: 1;
}
