/**
 * Custom style for the Java 7 javadoc:
 * - the type column is thiner and right aligned like the original Javadoc format
 * - added cell borders
 * - indented the method description in the summary table to improve the readability
 * - only the method/constructor name is diplayed in bold in the summary table
 */

table.overviewSummary td.colFirst, table.overviewSummary th.colFirst, table.overviewSummary td.colOne, table.overviewSummary 
th.colOne {
     width: 5%;
}

table.overviewSummary td.colFirst code {
     float: right;
}

/*
table.overviewSummary a {
     color: #D28B31;
}
*/

table.overviewSummary .block {
     padding-left: 3em;
}

table.overviewSummary .block .block {
     padding-left: 0em;
}


table.overviewSummary, table.packageSummary {
     border-collapse: collapse;
}

table.overviewSummary td, table.packageSummary td {
     border: 1px solid #9EADC0;
}

td.colOne a:link, td.colOne a:active, td.colOne a:visited, td.colOne a:hover, td.colFirst a:link, td.colFirst a:active, 
td.colFirst a:visited, td.colFirst a:hover, td.colLast a:link, td.colLast a:active, td.colLast a:visited, td.colLast a:hover {
     font-weight: normal;
}

td.colOne strong a:link, td.colOne strong a:active, td.colOne strong a:visited, td.colOne strong a:hover, td.colFirst strong 
a:link, td.colFirst strong a:active, td.colFirst strong a:visited, td.colFirst strong a:hover, td.colLast strong a:link, 
td.colLast strong a:active, td.colLast strong a:visited, td.colLast strong a:hover {
     font-weight: bold;
}

